.container.post-create {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  .createTitle {
    color: #e66d4f;
  }
  .row {
    .col-4 {
      /* CreatePostPage.scss */

      .dropzone {
        border: 2px dashed #ddd;
        padding: 20px;
        text-align: center;
        cursor: pointer;
      }

      .dropzone.active {
        border-color: #66c2e2;
      }

      .preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .file-preview {
          width: 200px;
          margin-right: 10px;
          margin-bottom: 10px;

          img,
          video {
            width: 100%;
            height: auto;
          }
        }
      }
      .preview {
        /* CreatePostPage.scss */

        .file-preview {
          img {
            // max-width: 100%;
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}
